@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap%27');

body {
    background-color: #CBB9DF;
    color: #361D73;
    font-family: 'Didact Gothic', sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

.main {
    display: flex;
    text-align: center;
    margin: auto;
}

.right-side {
    position: absolute;
    right: 2rem;
}

caption {
    font-size: 3rem;
    padding: 0 4rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

#name {
    width: 15rem;
    padding: 1rem;
    font-size: 1rem;
}

form {
    text-align: center;
    margin-left: 5rem;
    position: absolute;
    font-size: 1.3rem;
    border: 10px solid #361D73;
    border-radius: 12px;
    background-color: #C4ABD8;
    height: 20rem;
    padding: 0;
}

.select-field {
    margin-top: 1rem;
}

.btn {
    font-size: 1.7rem;
    padding: 0.7rem;
    border-radius: 12px;
    background-color: #361D73;
    color: #CBB9DF;
}

th {
    font-size: 1.5em;
    padding-right: 2rem;
}

table {
    font-size: 1rem;
    overflow-wrap: normal;
}

.quote {
    width: 22rem;
}

.song {
    width: 8rem;
    padding-right: 1rem;
}


.text-field,
.select-field,
.submit-field {
    margin: 2rem;
}

.heading {
    text-align: center;
    font-size: 5em;
    margin-bottom: 4rem;

}

.right-side {
    margin-left: auto;
    margin-right: 0;
}

.polaroid {
    width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.polaroid img {
    width: 100%;
    height: auto;
}

.polaroid .caption {
    font-size: 0.7em;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

caption {
    font-size: 3em;
}

.display {
    font-size: 2em;
}